<div style="text-align: center">
  <mat-toolbar color="primary">
    Localcast Weather
  </mat-toolbar>
  <div>Your city, your forecast, right now!</div>
  <div fxLayout="row" fxLayoutAlign="center">
    <app-city-search (searchEvent)="doSearch($event)"></app-city-search>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div fvFlex></div>
    <div fvFlex="500px">
      <mat-card>
        <h2>Current weather</h2>
        <app-current-weather [current]="currentWeather"></app-current-weather>
      </mat-card> 
    </div>
  </div>
</div>